.Button {
  display: block;
  border-radius: 8px;
  margin: 10px;
}

.Button_STREAMER {
  background-color: #a8a8a8;
  font-size: 15px;
  color: white;
  border: none;
  padding: 5px 10px 5px 10px;
}

.Button_ADD {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 5px;
  padding: 0;
  border: 2px solid #5b5b5b;
  background-color: white;
  color: #5b5b5b;
  font-size: 20px;
  font-weight: bold;
}

.Button_EDIT_DELETE {
  background-color: gray;
  border: none;
  font-size: 15px;
  padding: 3px 15px 3px 15px;
  color: white;
  margin: 5px;
}

.Button_EDIT_DONE {
  background-color: #b30000;
  border: none;
  font-size: 15px;
  padding: 3px 15px 3px 15px;
  color: white;
  margin: 5px;
}
