.custom-select.custom-select__control {
  background-color: white;
  border: 1px solid #900;
  border-radius: 8px;
  padding: 2px 4px;
  box-shadow: none;
  color: black;
}

.custom-select__control css-13cymwt-control {
  border-radius: 8px;
}

.custom-select__control
  custom-select__control--is-disabled
  css-16xfy0z-control {
  box-sizing: border-box;
  margin-left: 10px !important;
}

.custom-select.custom-select__control.custom-select__control--is-focused {
  outline: none;
  box-shadow: none;
  border-color: rgb(207, 131, 131);
  border-color: #b30000;
  box-shadow: 0 0 0 1px #b30000;
}

.custom-select .custom-select__menu {
  width: 425px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #900;
  overflow: hidden;
  margin: 0 15px 0 10px;
  box-sizing: border-box;
}

.custom-select .custom-select__menu .custom-select__option {
  background-color: white;
  color: black;
}

.custom-select
  .custom-select__menu
  .custom-select__option.custom-select__option--is-focused {
  background-color: rgb(207, 131, 131);
  color: white;
}

.custom-select
  .custom-select__menu
  .custom-select__option.custom-select__option--is-selected {
  background-color: #b30000;
  color: white;
}

/* placeholder */
.custom-select .css-13cymwt-control {
  margin: 0 15px 0 10px;
}

.custom-select .css-t3ipsp-control,
.custom-select .css-t3ipsp-control:hover {
  margin: 0 15px 0 10px;
  border: none;
  border: 1px solid #b30000;
  box-shadow: 0 0 0 1px #b30000;
}

.custom-select .css-1nmdiq5-menu {
  margin: 15px;
}
