.custom-select .custom-select__control {
  border: 1px solid white;
  border-radius: 4px;
  padding: 2px 4px;
  box-shadow: none;
  color: white;
  background-color: #1a1a1a;
}

.custom-select .custom-select__control:hover {
  border: 1px solid #900;
}

.custom-select .custom-select__control.custom-select__control--is-focused {
  outline: none;
  box-shadow: none;
  border-color: rgb(207, 131, 131);
  border-color: #b30000;
  box-shadow: 0 0 0 1px #b30000;
}

.custom-select .custom-select__input-container,
.custom-select .custom-select__input,
.custom-select .custom-select__single-value {
  color: white !important;
}

.custom-select .custom-select__menu {
  width: 100%;
  background-color: black;
  border-radius: 8px;
  border: 1px solid #900;
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 4px;
  z-index: 50;
}

.custom-select .custom-select__menu .custom-select__option {
  color: white;
  background-color: black;
  cursor: pointer;
}

.custom-select
  .custom-select__menu
  .custom-select__option.custom-select__option--is-focused {
  background-color: rgb(207, 131, 131);
  color: white;
}

.custom-select
  .custom-select__menu
  .custom-select__option.custom-select__option--is-selected {
  background-color: #b30000;
  color: white;
}

/* placeholder */
.custom-select .css-13cymwt-control {
  margin: 0 15px 0 10px;
}

.custom-select .css-t3ipsp-control,
.custom-select .css-t3ipsp-control:hover {
  margin: 0 15px 0 10px;
  border: none;
  border: 1px solid #b30000;
  box-shadow: 0 0 0 1px #b30000;
}

.custom-select .css-1nmdiq5-menu {
  margin: 15px;
}

@media (max-width: 768px) {
  .custom-select .custom-select__control {
    padding: 2px 8px;
    font-size: 14px;
  }

  .custom-select .custom-select__menu {
    width: 100%;
    margin-top: 4px;
  }

  .custom-select .custom-select__menu .custom-select__option {
    padding: 10px 10px;
    font-size: 14px;
  }

  .custom-select .css-13cymwt-control,
  .custom-select .css-t3ipsp-control,
  .custom-select .css-1nmdiq5-menu {
    margin: 0 !important;
  }
}
