.streamerplan {
  margin-bottom: 20px;
}

.streamer {
  align-items: center;
}

.Button_ADD {
  width: 25px;
  height: 25px;
}

.Button_streamer {
  margin: 5px;
}

.renderSchedule {
  display: block;
  margin: 0 10px;
  cursor: pointer;
}

.renderSchedule > div {
  padding: 5px 10px 5px 0px;
  border-bottom: 1px solid black;
}

.renderSchedule > div:hover {
  background-color: rgb(210, 210, 210);
}
