.calendar-wrapper {
  width: 445px;
  display: flex;
  justify-content: center;
  position: relative;
  margin: auto;
}

.custom-calendar {
  width: 100%;
  border: none !important;
  border-radius: 0.5rem;
  background-color: #1a1a1a;
}

.react-calendar__tile {
  /* pointer-events: none; */
  position: relative;
  background-color: #1a1a1a;
  color: white;
  /* background-color: transparent !important; */
}

.react-calendar__tile:hover {
  background-color: inherit;
  cursor: default;
}

.react-calendar__navigation {
  justify-content: space-between;
  margin: 0;
  /* border-bottom: 1px solid #dfdfdf; */
}

.react-calendar__navigation__label__labelText {
  color: white;
}

.react-calendar__navigation__arrow {
  background-color: transparent;
  color: white;
}

.react-calendar__navigation button {
  font-weight: 600;
  font-size: 1rem;
}

.react-calendar__navigation button:hover,
.react-calendar__navigation button:active,
.react-calendar__navigation button:focus {
  background-color: transparent;
}

.react-calendar__navigation__label {
  pointer-events: white;
  flex-grow: 0 !important;
}

.react-calendar__navigation__label__labelText:hover {
  color: #3f3f3f;
}

.react-calendar__month-view__weekdays abbr {
  text-decoration: white;
  font-weight: 700;
}

.react-calendar__month-view__weekdays__weekday--weekend abbr[title="일요일"] {
  color: #ff2f2f;
}

.react-calendar__month-view__weekdays__weekday--weekend abbr[title="토요일"] {
  color: #2e7af2;
}

.react-calendar__month-view__weekdays__weekday abbr {
  color: white;
}

.react-calendar__month-view__days__day--neighboringMonth abbr {
  color: #bdbdbd !important;
}

.react-calendar__tile--active {
  background: #5b5b5b !important;
  color: white;
}

.react-calendar__tile:enabled:hover {
  background: #424242;
}

/* 오늘 날짜 */
.react-calendar__tile--now {
  position: relative;
  z-index: 1;
}

.react-calendar__tile--now abbr {
  color: white;
  position: relative;
  z-index: 2;
}

.react-calendar__tile--now::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #cc2230;
  transform: translate(-50%, -50%);
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.15);
}

.react-calendar__tile--now:enabled:hover {
  background: none;
}

.react-calendar__tile--now:enabled:focus {
  background: #5b5b5b;
}

.react-calendar__tile--now:not(.react-calendar__tile--active)::after {
  /* background-color: #bdbdbd; */
  background-color: none;
  border: #cc2230 2px solid;
}

.react-calendar__year-view__months__month {
  border-radius: 0.8rem;
  background-color: white;
  padding: 0;
}

.react-calendar__tile {
  padding: 17px;
}

.dot-indicator {
  background-color: #ff2f2f;
  border-radius: 50%;
  width: 0.3rem;
  height: 0.3rem;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}
