.streamerrecord {
  width: 445px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  padding: 10px 0 0 0;
}

.streamer {
  display: flex;
  margin: 0;
}

.streamer > img {
  border-radius: 50%;
  height: 80px;
  margin: 5px;
}

.edit {
  display: flex;
  flex-direction: row;
  margin: 0;
}
