.streamerbar {
  display: flex;
  margin: 10px 10px 0px 10px;
  align-items: center;
}

.streamer_img_wrapper > img {
  border-radius: 50%;
  height: 50px;
  margin: 5px;
}

.Button_ADD {
  align-items: center;
}
