.timeline {
  position: relative;
  margin-left: 20px;
  padding-left: 2px;
  border-left: 2px solid #ccc;
}

.timeline-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 16px;
  position: relative;
}

.timeline-marker {
  position: absolute;
  left: -9px;
  width: 12px;
  height: 12px;
  background-color: #333;
  border-radius: 50%;
}

.timestamp {
  font-size: 13px;
  color: #555;
}

.timeline-content {
  margin: 0;
  margin-left: 15px;
  align-items: start;
}

.description {
  padding: 5px 10px 20px 0;
  font-size: 15px;
}

.real-time {
  margin-right: 15px;
  font-size: 13px;
  color: #888;
  display: flex;
  align-items: end;
}

.timeline-item:last-child {
  margin-bottom: 0;
}
