@import "tailwindcss";

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  width: 100%;
  background-color: #1a1a1a;
  display: flex;
  width: -webkit-fill-available;
}

#root {
  background-color: #1a1a1a;
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  /* height: -webkit-fill-available; */
  min-height: 100vh;
  height: 100%;
  padding: 0px 16px;
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
}

div {
  margin: 0 auto;
}
