@import "tailwindcss";

@theme {
  --color-black-ink: #1a1a1a;
  --color-red-hover: #ff6666;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  width: 100%;
  background-color: #1a1a1a;
  display: flex;
  width: -webkit-fill-available;
  scrollbar-gutter: stable;
}

#root {
  background-color: #1a1a1a;
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  /* height: -webkit-fill-available; */
  min-height: 100vh;
  height: 100%;
  padding: 0px 16px;
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
}

div {
  margin: 0 auto;
}

/* DatePicker 화면 이동 현상 방지 */

#root-portal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

#root-portal > .react-datepicker-popper {
  pointer-events: auto;
}

/* 스크롤바 커스텀 */
.overflow-y-scroll::-webkit-scrollbar {
  height: 7px;
  padding-top: 2px;
}

.overflow-y-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.overflow-y-scroll::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
